body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header{
  width: 100%;
  height: 90px;
  color:white;
  display: flex;
  background-color: #1e304f;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}
header .title{
  margin-left: 30px;
}
header .developer{
  color:black;
  font-size: 15px;
  margin-right: 20px;
  align-self:flex-end;
  margin-bottom: 15px;
}
header .search{
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .search input[type=text]{
  width:95%;
  height: 45%;
  border-radius: 10px;
  border-style: none;
  color: black;
  font-size: 20px;
}
header .search input[type=submit]{
  width: 80px;
  height: 50%;
  margin-left: 10px;
  background-color: black;
  color:white;
  border-radius: 10px;
  border-style: none;
  font-weight: bold;
}
header .search .alert{
  position: absolute;
  top:70px;
  right: 10;
  font-size: 15px;
  color:#9B111E;
}
header .developer a:link,:visited,:hover{
  text-decoration: none;
  color:white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.leaflet-container {
  width: 100%;
  background-color: black;
}
.leaflet-tooltip{
  background-color: #ffffff80;
  font-weight: bold;
  border-radius: 5px;
  border:none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.leaflet-tooltip-top{
  background-color: #ffffff;
}
.leaflet-tooltip-bottom:before{
  display: none;
}
.leaflet-tooltip-bottom{
  margin-top: -20px;
}
.leaflet-popup-content{
  text-align: center;
}
@media all and (max-width:767px){
  header{
    height: 70px;
  }
  header .title{
    width:20%;
    margin-left: 15px;
    font-size: 18px;
  }
  header .developer{
    font-size: 10px;
    margin-right: 15px;
    margin-left: 5px;
    position: absolute;
    top:55px;
    left: 10%;
  }
  header .search .alert{
    position: absolute;
    top:55px;
    left: 10;
    font-size: 10px;
    color:#9B111E;
  }
  header .search{
    width: 70%;
    margin-left: 5px;
  }
  header .search input[type=text]{
    font-size: 13px;
  }
  header .search input[type=submit]{
    font-size: 10px;
    width: 50px;
    margin-right: 10px;
  }
}